<ion-view view-title="Acerca de">
  <ion-content>
    <div class="card">
        <div class="item item-divider"><b>Acerca de</b></div>
        <div class="item item-text-wrap card-body">
            Esta aplicación ha sido desarrollada por Eliasib García en 2015.<br>
            <b>Contacto: </b>
            <img src="img/twitter.png" href="https://twitter.com/Eliasib1994" class="logo">
            <img src="img/github.png" href="https://github.com/eliasib13" class="logo">
        </div>
    </div>
  </ion-content>
</ion-view>
