<ion-view view-title="{{categoria.title}}">
  <ion-content>
    <ion-list>
      <ion-item class="item item-select">
        <span>Dimensiones geográficas</span>
        <select ng-model="geoDimVal" ng-options="geoDim.title for geoDim in geoDimensions" ng-change="updateGeoDim(geoDimVal)"></select>
      </ion-item>
      <ion-item class="item item-select">
        <span>Lugar</span>
        <select ng-model="lugarVal" ng-options="lugar.title for lugar in lugares" ng-change="updateLugar(lugarVal)"></select>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
