/* Empty. Add your own CSS if you like */
.card-body {
    text-align: center;
}

.logo {
    height: 40px;
    margin: 5px;
    padding: 4px;
    border: 2px solid #EDEDED;
    position: relative;
    top: 10px;
    box-shadow: 2px 2px 6px #ABABAB;
}

.logo:hover {
    cursor: pointer;
}

.logo:active {
    box-shadow: 0px 0px;
    opacity: 0.7;
}

ion-spinner svg{
    stroke: rgba(56,126,245,0.6);
}